#deathType {
	font-size: 50px;
	color: white;
	font-family: Bangers;
	font-weight: bold;
	-webkit-text-stroke: 1px #ff00ff;
	transition: opacity 2s; 
	opacity: 1;
}
#counter {
	font-size: 50px;
	color: white;
	font-family: Bangers;
	font-weight: bold;
	-webkit-text-stroke: 1px #ff00ff;
	transition: opacity 2s; 
	opacity: 1;
}

#deathType.fade {
	opacity: 0;
}

#counter.fade {
	opacity: 0;
}